---
import { PostListItem } from "../components/PostListItem.tsx";

const allPosts = await Astro.glob("./**/*.mdx");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="container mx-auto">
    <main class="mx-auto my-12 flex flex-col gap-16">
      {allPosts.map((post) => <PostListItem {post} />)}
    </main>
  </body>
</html>
