---
---

<section class="my-20 flex flex-col sm:flex-row items-center gap-6 border-t border-gray-200 dark:border-gray-700 pt-10">
  <img
    src="/about-me.jpg"
    alt="Portrait of the author"
    width={150}
    height={150}
    class="rounded-full shrink-0"
  />

  <div>
    <h2 class="text-2xl font-semibold mb-3">About me</h2>
    <p class="text-slate-700 dark:text-slate-300">
      A JavaScript specialist with many years of industry experience whose heart beats for Angular. A
      follower of the "Keep it simple, stupid" principle and a fan of clean code and good
      architecture. Fearless in the face of the toughest challenges, I always look for simple and
      effective solutions. As a pragmatist and an enthusiast of new technologies, I passionately
      follow the trends in the JavaScript world. After hours — a sailor who loves discovering new
      places and spending time on trips. My favorite motto? "Talk is cheap. Show me the code."
    </p>
  </div>
</section>
