---
import { Note } from "./Note";
---

<Note as="section" type="HELPFUL">
  <h2 class="text-3xl pt-4">Do you like the content?</h2>
  <p class="my-4">Your support helps me continue my work. Please consider making a donation.</p>

  <div class="flex gap-4 flex-col sm:flex-row">
    <form action="https://www.paypal.com/donate" method="post" target="_top">
      <input type="hidden" name="hosted_button_id" value="PW5V35DCFRYW4" />
      <!-- height: $height; width: $width; background: #ffdd00; padding: 0.5rem 1rem; border: none; border-radius: 0.5rem; -->
      <button type="submit" class="h-14 w-[12.5rem] py-2 px-4 rounded-lg bg-yellow-400">
        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b5/PayPal.svg" alt="PayPal logo" />
      </button>
    </form>

    <a href="https://www.buymeacoffee.com/codegenstudio" target="_blank">
      <img
        class="h-14 w-[12.5rem]"
        src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png"
        alt="Buy Me A Coffee"
      />
    </a>
  </div>

  <p class="pb-2 mt-2 text-xs text-slate-700 dark:text-slate-300">
    Donations are accepted through PayPal or Stripe. You do not need a account to donate. All major credit cards are
    accepted.
  </p>
</Note>
