<footer class="mt-20 text-center p-4 text-sm">
  <div class="flex justify-between container">
    <span>
      The site is proudly supported by <a href="https://astro.build/">Astro</a>
    </span>
    <span>
      Theme written from scratch. Available on <a href="https://github.com/angularcodegen/website">GitHub</a>
    </span>
  </div>
  <div class="flex justify-center container mt-4">
    <a href="https://www.netlify.com">
      <img src="https://www.netlify.com/img/global/badges/netlify-color-accent.svg" alt="Deploys by Netlify" />
    </a>
  </div>
</footer>
