---
import Footer from "@components/Footer.astro";
import GTM from "@components/GTM.astro";
import Navbar from "@components/Navbar.astro";
---

<html lang="en">
  <head>
    <slot name="head" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="max-image-preview:large" />
    <meta property="og:site_name" content="CodeGen Studio" />
    <meta property="og:locale" content="en_US" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="profile" href="https://gmpg.org/xfn/11" />
  </head>
  <body class="antialiased text-black dark:text-white bg-white dark:bg-slate-900 container mx-auto">
    <Navbar />

    <slot />

    <Footer />
    <GTM />
  </body>
</html>
