---
import { GitHubLink } from "@components/GitHubLink.tsx";
import { PostIntro } from "@components/PostIntro.tsx";
import Donation from "../components/Donation.astro";

const { frontmatter } = Astro.props;

const repositoryExists = !!frontmatter.repository;
---

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8" />
    <title>{frontmatter.title}</title>
  </head>
  <body class="container mx-auto">
    <main class="mx-2 md:mx-4">
      <PostIntro frontmatter={frontmatter} />

      {repositoryExists && <GitHubLink repository={frontmatter.repository} />}

      <article class="prose lg:prose-xl max-w-none">
        <slot />
      </article>

      <Donation />
    </main>
  </body>
</html>
